/* FILE: Menu.css */
body {
  font-family: Arial, sans-serif;
}

.menu-page-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.menu-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-list {
  display: flex;
  /* flex-wrap: wrap; */
  flex: 1;
  font-size-adjust: 0.4;
  font-size: 14px;
  justify-content: space-around;
  padding: 20px;
  text-align: justify;
}

.menu-item {
  border-radius: 8px;
  height: 220px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.type-header {
  border-bottom: 1px solid #000000;
  font-size: 1;
  margin-bottom: 10px;
  margin: 20px 0px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.description{
  font-size: 1em;
  font-size-adjust: 0.45;
  /* margin: 10px 0px; */
}

.dish-item {
  border-radius: 10px;
  flex: 1;
  font-size-adjust: 0.35;
  font-size: 1em;
  height: 273px;
  margin: 30px;
  width: 295px;
  display:auto;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.dish-item img {
  width: inherit;
  border-radius: 10px 10px 0 0;
  max-height: 191px;
  object-fit: cover;
  border-bottom: 1px solid #c4c4c4;
}

.dish-name {
  color: #ff0000;
  display: inline-block;
  margin: 10px 10px;
  padding: 0;
  float: left;
  font-size: xx-large;
}

.dish-price {
  color: #0073ff;
  float: right;
  margin: 10px 10px;
  padding: 0;
  display: inline-block;
  font-size: x-large;
}

.dish-button-select {
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline;
  font-size: 21px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  padding: 5px 30px;
}

.dish-button-select:hover {
  background-color: #878787;
}

.dish-button-info {
  cursor: pointer;
  position: absolute;
  bottom:0;
  left:0;
  margin: 10px 10px;
  padding:0;
}

.dish-button-info:hover {
  text-decoration:underline;
}

/* Remove auth-container styles since we only have one button */
.auth-container {
    display: flex;
    align-items: center;
}

/* Keep login button styles */
.login {
    background-color: #ff0099;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
}

.login:hover {
    background-color: #e60085;
}