/* General reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
  /* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}
  
.logo {
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ff0099;
}
.logo a {
    color: #ff0099;
    text-decoration: none;
}
  
.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 20px;
}
  
.menu ul li {
    position: relative;
}
  
.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
  
.menu ul li a:hover {
    color: #ff0099;
}

.menu ul li .fas.fa-angle-down {
    margin-left: 2px;
}
  
.search {
    display: flex;
    align-items: center;
    position: relative;
}
  
.search input {
    width: 500px;
    height: 30px;
    padding: 8px 8px;
    border: 1px solid #c1c0c0;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}
  
.search i {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #1c1b1b;
}
  
.login {
    background-color: #ff0099;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
}
  
.login:hover {
    background-color: #e60085;
}

.checkorder {
    background-color: #ffeaf5;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
}

.checkorder :hover {
    color:#e60085;
}
.cart-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
  
.cart i {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
  
.cart-icon{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
  
.cart :hover {
    color:#e60085;
    text-decoration: none;
}

.username {
    color: #ff0099;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #ffeaf5;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    background-color: #ffeaf5;
    color: #ff0099;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: bold;
}