.homePage{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sideBar {
    width: 250px;
    background-color: #efecec;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
}

.sideBar ul {
    list-style-type: none;
    padding: 0;
}

.sideBar ul li {
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #e183b5;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.sideBar ul li:hover {
    color: #0d0d0d;
    background-color: #d6c6d0;
}